div{
	margin:0px auto;
	text-align:center;}
#body{margin:10px auto;
position:relative;}
#body div{
	border:2px solid #336699;
	width:200px;
	height:360px;
	box-sizing:border-box;
	background-color:rgba(192,192,192,0.3);
	overflow:hidden;
	position:absolute;
	}
#gt3 img{
	width:200px;
	height:200px;
	border-radius:200px 200px;
	margin-top:80px;}
#body div p{
	color:#F03;
	margin-top:20px;
	opacity:1;
	font-size:24px;
	font-family: 'Pacifico', cursive;}
#gt1,#gt2,#gt4,#gt5{
	display:none;}
#gt1{
	margin-top:280px;
	right:1100px;
	}
#gt2{
	margin-top:180px;
	right:850px;}
#gt3{
	margin-top:80px;
	right:600px;}
#gt4{
	margin-top:180px;
	right:350px;}
#gt5{
	margin-top:280px;
	right:100px;}




